<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A simple application to request and manage appointments for a health care center">
    <title>SafeHands - Login</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="../css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../css/layouts/marketing.css">
    <!--<![endif]-->
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a href="../views/index.html"><img src="../img/safeHands.png" alt="Safe Hands" /></a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a id="logout" href="../views/index.html" class="pure-menu-link">Logout</a></li>
        </ul>
    </div>
</div>

<div class="content-login">
    <div>
        <h2 id="doctorName" class="content-head is-center"></h2>
    </div>
    <div id="appointments">

    </div>


</div>
<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/jquery.validation/dist/jquery.validate.min.js"></script>
<script src="../libs/jquery.validation/dist/additional-methods.min.js"></script>
<script src="../libs/underscore/underscore-min.js"></script>
<script src="../libs/backbone/backbone.js"></script>
<script src="../js/backboneIntercept.js"></script>
<script src="../js/models/appointment.js"></script>
<script src="../js/collections/appointmentList.js"></script>
<script src="../js/views/appointment.js"></script>
<script src="../js/views/appointmentList.js"></script>
<script src="../js/routers/router.js"></script>
<script src="../js/main.js"></script>
<script src="../js/validation.js"></script>
<script>
    $(function(){
        var doctorName = window.localStorage.getItem("doctorName");
        if (doctorName) {
            $('#doctorName').text("Hello, Dr. " + doctorName);
            app.router.start();
            app.router.navigate("", {trigger: true});
        } else {
            window.open("../views/login.html", "_self");
        }
    });
</script>
</body>
</html>
